@font-face {
  font-family: 'lucide';
  src: url('./lucide.ttf') format('truetype');
}

.lucide {
  font-family: 'lucide' !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}
